* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/

body {
    display: flex;
    position: relative;
    min-height: 100vh;
    flex-direction: column;
    background: #2f363e;
}

.header {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div {
    margin-top: 25px;
    color: white;
    font-size: 50px;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    min-height: 800px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}

.todo {
    display: flex;
}

.todo input {
    border: #2f363e solid 2px;
    border-radius: 15px;
    padding: 10px;
    flex: 1 1 80%;
    margin-right: 5px;
    margin-bottom: 20px;
    height: 50px;
    font-size: 24px;
}

.todo input:focus {
    border: #33c7db solid 2px;
}

.btn {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: gray;
    border-radius: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    color: #fff;
    background: #33c7db;
}

.task-style {
    border: #2f363e solid 2px;
    border-radius: 15px;
    font-family: Sans-serif;
    font-size: 22px;
    position: relative;
    min-height: 25px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.tasklist {
    border-radius: 15px;
    font-size: 18px;
    position: relative;
    min-height: 40px;
}

.editbtn {
    border: #2f363e solid 1px;
    border-radius: 50%;
    position: absolute;
    height: 25px;
    width: 25px;
    right: 35px;
    top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.editbtn:hover {
    cursor: pointer;
}

.deleter {
    border: #2f363e solid 1px;
    border-radius: 50%;
    position: absolute;
    height: 25px;
    width: 25px;
    font-size: 18px;
    right: 5px;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.inputarea {
    margin-left: 15px;
    font-size: 18px;
    position: relative;
    min-height: 40px;
    flex: 0 1 90%;
    text-decoration: none;
}

.inputedit {
    width: 100%;
    position: relative;
}

.footer {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
}

.footer div span {
    color: grey;
}